/* Selected Nav Button */
.nav-button-about {
    background-color: var(--selected-nav-button-color);
    box-shadow: inset 0 0 0 1px var(--selected-nav-button-border-color);
}

.nav-button-about:hover {
    background-color: var(--selected-nav-button-hover-color);
    cursor: pointer;
}

.nav-icon-about {
    display: none;
}

.nav-icon-solid-about {
    display: flex;
}

.nav-label-about {
    color: var(--selected-nav-icon-color);
}