/* Selected Nav Button */
.nav-button-about {
    background-color: var(--selected-nav-button-color);
}

.nav-button-about:hover {
    background-color: var(--selected-nav-button-hover-color);
    cursor: pointer;
}

.nav-icon-about {
    display: none;
}

.nav-icon-solid-about {
    display: flex;
}

.nav-label-about {
    color: rgb(255, 200, 25);
}