/* Selected Nav Button */
.nav-button-contact {
    background-color: var(--selected-nav-button-color);
}

.nav-button-contact:hover {
    background-color: var(--selected-nav-button-hover-color);
    cursor: pointer;
}

.nav-icon-contact {
    display: none;
}

.nav-icon-solid-contact {
    display: flex;
}

.nav-label-contact {
    color: var(--selected-nav-icon-color);
}



main {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(22rem, 100%), 1fr));
    margin: 0.7rem 0 1rem 0;
}



/* Contact Form */
.contact-form-section {
    position: relative;
    background-color: var(--element-background-color);
    border: 1px solid var(--element-border-color);
    border-radius: 2rem;
    padding: 1rem;
    min-height: 20rem;
    height: fit-content;
}

.contact-form-section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.contact-form {
    display: var(--contact-form-display);
    flex-direction: column;
    gap: 1.2rem;
    opacity: var(--form-opacity);
}

.form-input-entry {
    position: relative;

    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.form-input {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
    background-color: var(--element-background-color);
    backdrop-filter: blur(4rem);
    border: 1px solid var(--element-border-color);
    color: var(--primary-text-color);
    border-radius: 1rem;
    padding: 1rem;
    caret-color: var(--theme-color);
    transition: background-color 150ms ease;
}

.form-input::placeholder {
    color: var(--form-input-placeholder-color);
    font-weight: 200;
}

.form-label {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
}

.tooltip-element {
    color: var(--theme-color);
}

.form-input:hover {
    /* background-color: #1c1d25; */
    background-color: var(--element-background-hover-color);
}

.form-input:active, .form-input:focus {
    background-color: var(--element-background-hover-color);
    /* box-shadow: 0 0 1.5rem rgba(255, 201, 25, 0.5); */
    border: 1px solid #00000000;
    outline: 1px solid var(--theme-color);
}

.form-input.error {
    border: 1px solid rgba(255, 0, 0);
    caret-color: rgb(255, 0, 0);
}

.form-input.error:active, .form-input.error:focus {
    background-color: var(--element-background-hover-color);
    border: 1px solid #00000000;
    outline: 1px solid rgba(255, 0, 0);
}

input.form-input:-webkit-autofill {
    background-color: none !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 201, 25, 0.15) inset !important;
    -webkit-text-fill-color: var(--primary-text-color) !important;
    border-color: rgba(255, 201, 25, 0.15);
    transition: background-color 9999s ease-in-out 0s; /* Prevent flash of yellow */
}

#message {
    min-height: 10.5rem;
    resize: vertical;
    overflow: auto;
}



.custom-dropdown {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    position: relative;
    background: url("/icon/chevron-down-icon.svg") no-repeat right 1rem center;
    background-size: 1rem;

    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
    background-color: var(--element-background-color);
    backdrop-filter: blur(4rem);
    border: 1px solid var(--element-border-color);
    color: var(--primary-text-color);
    border-radius: 1rem;
    caret-color: var(--theme-color);
    transition: background-color 150ms ease;
}

.form-input-entry-category .custom-dropdown {
    z-index: 6;
}

.form-input-entry-project .custom-dropdown {
    z-index: 5;
}

.custom-dropdown:hover {
    background-color: var(--element-background-hover-color);
}

.custom-dropdown:active, .custom-dropdown:focus {
    background-color: var(--element-background-hover-color);
    border: 1px solid #00000000;
    outline: 1px solid var(--theme-color);
}

.custom-dropdown.error {
    background-color: var(--element-background-hover-color);
    border: 1px solid rgba(255, 0, 0);
    caret-color: rgb(255, 0, 0);
}

.custom-dropdown.error:active, .custom-dropdown.error:focus {
    background-color: var(--element-background-hover-color);
    border: 1px solid #00000000;
    outline: 1px solid rgba(255, 0, 0);
}

.dropdown-selected {
    /* background: white; */
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    position: relative;
    padding: 1rem;
    display: flex;
    gap: 0.75rem;
}

.dropdown-placeholder {
    color: var(--subtle-text-color);
    font-weight: 200;
}

.dropdown-options {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -1px;
    top: 4rem;
    width: 100%;
    max-height: 21rem;
    overflow-y: auto;
    /* height: 0rem; */
    /* transition: height 200ms ease; */
    
    background: var(--element-background-color);
    border: 1px solid var(--element-border-color);
    border-radius: 1rem;
    box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    font-weight: 300;
}

.dropdown-options li {
    padding: 1rem;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    gap: 0.75rem;
}

.dropdown-options li:hover, .highlight {
    background: var(--element-border-color);
}

.project-logo {
    border: 0.5px solid var(--element-border-color);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.4rem;
}

/* Show dropdown when open */
.custom-dropdown.open .dropdown-options {
    display: block;
    /* height: 21rem; */
}

.form-input-entry-project-hidden {
    display: none;
}

.contact-form-status-entry {
    --contact-form-display: flex;
}

.contact-form-status-processing {
    --contact-form-display: flex;
    cursor: progress;
    --form-opacity: 0.5;
}

.contact-form-status-complete {
    --contact-form-display: none;
}

.contact-form-status-error {
    --contact-form-display: flex;
}

.form-status-background {
    display: none;
    z-index: 7;
    background-color: var(--form-status-background-color);
    transition: backdrop-filter 200ms ease;
    backdrop-filter: blur(0);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-status-loader {
    display: none;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    stroke: var(--theme-color);
    stroke-linecap: round;
    stroke-width: 3;
    fill: none;
    stroke: var(--theme-color);
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}


.form-status {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--element-background-color);
    border: 1px solid var(--element-border-color);
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.form-status-header {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    line-height: 0.8;
}

.form-status h3 {
    color: var(--primary-text-color);
    font-size: 2rem;
    /* font-weight: 600; */
}

.form-status p {
    font-size: 0.9rem;
    font-weight: 200;
}

.form-status-buttons {
    position: relative;
}

.runaway-button-ghost {
    /* position: absolute; */
}

.runaway-button {
    position: absolute;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    z-index: 20000;
    top: 0;
    transition: transform 1000ms linear(0, 0.008 1.1%, 0.031 2.2%, 0.129 4.8%, 0.257 7.2%, 0.671 14.2%, 0.789 16.5%, 0.881 18.6%, 0.957 20.7%, 1.019 22.9%, 1.063 25.1%, 1.094 27.4%, 1.114 30.7%, 1.112 34.5%, 1.018 49.9%, 0.99 59.1%, 1);
}

.runaway-button:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}



/* More ways to connect section */
.more-ways-to-connect-section {
    /* margin: 1rem 0; */
}

.buy-me-a-coffee-tile {
    background-color: var(--theme-color);
    border-radius: 2rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
    transition: box-shadow 150ms ease, scale 150ms ease;
}

.buy-me-a-coffee-tile:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    scale: 1.02;
}

.buy-me-a-coffee-tile:active {
    opacity: 0.8;
    scale: 0.98;
}

.buy-me-a-coffee-tile h3 {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
}

.buy-me-a-coffee-tile svg {
    width: 100%;
    max-width: 20rem;
}

.more-ways-to-connect-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    margin: 0.5rem 0;
    padding: 0;
}

.more-ways-to-connect-tile {
    background-color: var(--element-background-color);
    border: 1px solid var(--element-border-color);
    padding: 1rem 1.5rem;
    border-radius: 2.4rem;
    color: var(--primary-text-color);
    font-size: 1.4em;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 150ms ease, box-shadow 150ms ease, scale 150ms ease;
}

@media (max-width: 30rem) {
    .more-ways-to-connect-tile {
        align-items: start;
        flex-direction: column;
        gap: 0.25rem;
        border-radius: 1.5rem;
    }
}

.more-ways-to-connect-tile:hover {
    background-color: var(--element-background-hover-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    scale: 1.02;
}

.more-ways-to-connect-tile:active {
    opacity: 0.8;
    scale: 0.98;
}

.more-ways-to-connect-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.more-ways-to-connect-icon {
    fill: var(--primary-text-color);
}

.more-ways-to-connect-username {
    color: var(--subtle-text-color);
    font-size: 1rem;
    font-weight: 400;
}

.more-ways-to-connect-username:hover {
    text-decoration: underline;
    color: var(--secondary-text-color);
}