/* Selected Nav Button */
.nav-button-home {
    background-color: #ffc8191a;
}

.nav-button-home:hover {
    background-color: #ffc81926;
    cursor: pointer;
}

.nav-icon-home {
    display: none;
}

.nav-icon-solid-home {
    display: flex;
}