/* Selected Nav Button */
.nav-button-home {
    background-color: var(--selected-nav-button-color);
}

.nav-button-home:hover {
    background-color: var(--selected-nav-button-hover-color);
    cursor: pointer;
}

.nav-icon-home {
    display: none;
}

.nav-icon-solid-home {
    display: flex;
}

.nav-label-home {
    color: rgb(255, 200, 25);
}