/* Selected Nav Button */
.nav-button-home {
    background-color: var(--selected-nav-button-color);
    box-shadow: inset 1px 1px 2px hsla(0, 0%, 100%, 0.5), inset -1px -1px 2px hsla(0, 0%, 0%, 0.3);
}

.nav-button-home svg {
    filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.4)) drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.3));
}

.nav-button-home:hover, .nav-button-home:focus {
    background-color: var(--selected-nav-button-hover-color);
    scale: 1.04;
}

.nav-button-home:active {
    scale: 0.95;
}

.nav-icon-home {
    display: none;
}

.nav-icon-solid-home {
    display: flex;
}

.nav-label-home {
    color: var(--selected-nav-icon-color);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4), -1px -1px 2px rgba(0, 0, 0, 0.3);
    font-weight: 700;
}