/* Debugging tool */
/* *,
*::before,
*::after {
    outline: 1px dashed rgb(0, 255, 0);
} */




/* Variables */
:root {
    --yellow-color: #ffc819;
    --black-color: #000000;
    --white-color: #ffffff;
    --light-gray-color: #a4a4a4;
    --dark-gray-color: #5f5f5f;

    /* Social media theme colors */
    --buy-me-a-coffee-theme-color: #FFDD00;
    --github-theme-color: #000000; /* rgb(142, 70, 161) */ /* #1B1F24 */
    --codecademy-theme-color: #1F4056;
    --linkedin-theme-color: #2d64bc;

    /* Project theme colors */
    --pickle-theme-color: #4a9c1d;
}

.dark-theme {
    --sun-icon-display: flex;
    --moon-icon-display: none;

    --theme-color: var(--yellow-color);
    --logo-j-color: var(--yellow-color);
    --logo-h-color: var(--white-color);

    --background-color: var(--black-color);
    --primary-text-color: var(--white-color);
    --secondary-text-color: var(--light-gray-color);
    --nav-button-hover-color: rgba(255, 255, 255, 0.06);
    --selected-nav-button-color: #ffc8191a;
    --selected-nav-button-hover-color: #ffc81926;
    --nav-icon-color: var(--white-color);
    --element-background-color: rgba(166, 179, 225, 0.12); /* Previously #16171c */
    --element-background-hover-color: rgba(166, 179, 225, 0.15); /* Previously #1c1d25 */
    --mobile-nav-background-color: #16171c;
    --element-border-color: rgba(255, 255, 255, 0.12);
    --nav-shadow-color: #000000be;
    --nav-label-shadow-color: rgba(0, 0, 0, 0.25);

    --tooltip-shadow-color: rgba(0, 0, 0, 0.7);

    --form-input-placeholder-color: rgba(183, 189, 211, 0.4);

    --text-selection-color: rgba(255, 200, 25, 0.6);

    --html-tag-color: #E34F26;
    --html-tag-background-color: rgba(227, 79, 38, 0.2);
    --css-tag-color: hsl(281, 72%, 55%); /* Official color: #663399 */
    --css-tag-background-color: rgba(102, 51, 153, 0.4);
    --javascript-tag-color: rgba(247, 222, 30, 0.8);  /* Official color: #F7DF1E */
    --javascript-tag-background-color: rgba(247, 222, 30, 0.12);
    --processingjs-tag-color: #2378ff;
    --processingjs-tag-background-color: rgba(43, 97, 246, 0.2);
}

.light-theme {
    --sun-icon-display: none;
    --moon-icon-display: flex;

    --theme-color: var(--yellow-color);
    --logo-j-color: var(--black-color);
    --logo-h-color: var(--black-color);

    --background-color: rgb(220, 220, 235); /* #dce0f2cc */
    --primary-text-color: var(--black-color);
    --secondary-text-color: var(--dark-gray-color);
    --nav-button-hover-color: rgba(255, 255, 255, 0.4);
    --selected-nav-button-color: rgba(255, 255, 255, 0.5);
    --selected-nav-button-hover-color: rgba(255, 255, 255, 0.5);
    --nav-icon-color: var(--black-color);
    --element-background-color: rgba(255, 255, 255, 0.3);
    --element-background-hover-color: rgba(255, 255, 255, 0.5);
    --mobile-nav-background-color: rgb(240, 240, 251);
    --element-border-color: rgba(255, 255, 255, 0.5);
    --nav-shadow-color: #00000037;
    --nav-label-shadow-color: rgba(255, 255, 255, 0.5);

    --tooltip-shadow-color: rgba(0, 0, 0, 0.3);

    --form-input-placeholder-color: rgba(0, 0, 0, 0.3);

    --text-selection-color: rgba(255, 200, 25, 0.8);

    --html-tag-color: #E34F26;
    --html-tag-background-color: rgba(227, 79, 38, 0.2);
    --css-tag-color: hsl(281, 72%, 55%); /* Official color: #663399 */
    --css-tag-background-color: rgba(121, 47, 196, 0.2);
    --javascript-tag-color: rgb(216, 162, 0);  /* Official color: #F7DF1E */
    --javascript-tag-background-color: rgba(247, 204, 30, 0.4);
    --processingjs-tag-color: #2378ff;
    --processingjs-tag-background-color: rgba(43, 97, 246, 0.15);
}



html {
    scroll-behavior: smooth;
}


/* Setup */
body {
    margin: 1rem 1rem 0rem 7rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    font-weight: 300;
    align-items: center;
    caret-color: var(--theme-color); /* test */

    /* background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-position: 0 0, 50px 50px;
    background-size: 25px 25px; */
}

p, h1, h2, h3 {
    margin: 0;
}

::selection {
    background-color: var(--text-selection-color);
    color: var(--primary-text-color);
}

.nav-label, img, button, input::placeholder, textarea::placeholder {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a:focus, button:focus, input:focus, textarea:focus {
    outline-color: var(--theme-color);
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: "Comfortaa", sans-serif; */
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

.all-content {
    max-width: 75rem;
}



.temporary-landing-logo {
    margin: 4rem 0;
    padding-top: 4vw;
    width: 76vw;
}


.ui-element {
    background-color: var(--element-background-color);
    backdrop-filter: blur(4rem);
    border: 1px solid var(--element-border-color);
}



.decorative-sinusoidal-wave {
    display: none;
    position: sticky;
    top: -5vw;
    width: 100vw;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.2));
    margin: -10vw 0 0 0;
    z-index: 100;
}



.tooltip-element {
    position: relative;
    /* display: inline-block; */
    justify-content: center;
    display: flex;
}

.tooltip-element .tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 120%;
    pointer-events: none; /* Prevent interaction with the tooltip itself */
    
    white-space: nowrap;
    text-align: center;
    background-color: var(--black-color);
    padding: 0.4rem 1rem;
    color: var(--white-color);
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 1rem;
    border: 1px solid rgb(71, 73, 84);
    z-index: 200000;
    box-shadow: 0 0 0.5rem var(--tooltip-shadow-color);
}

.tooltip-element .tooltip-button {
    bottom: 150%;
}

.tooltip-element .tooltip::after {
    content: "";
    position: absolute;
    bottom: -54%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: var(--black-color) transparent transparent transparent;
    filter: drop-shadow(0 1.5px 0 rgba(71, 73, 84));
}

.tooltip-element:hover .tooltip {
    visibility: visible;
}





/* Sidebar */
nav {
    position: fixed;
    align-self: start;
    background-color: var(--element-background-color);
    backdrop-filter: blur(4rem);
    border: 1px solid var(--element-border-color);
    margin: 0 0 0 -6rem;
    border-radius: 2.5rem;
    padding: 0.5rem;
    height: calc(100% - 3rem);
    width: 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* overflow: hidden; */
    text-wrap: nowrap;
}

.nav-label {
    padding: 0rem;
    font-size: 0rem;
    color: var(--nav-icon-color);
    opacity: 0;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 0 0 0.5rem var(--nav-label-shadow-color);
    margin: 1rem;
    display: none;
}

@media (min-width: 31rem) and (hover: hover) and (pointer: fine) {
    nav, .nav-label {
        transition: 200ms ease;
    }
    nav:hover {
        width: 15rem;
    }

    nav:hover .nav-label {
        display: block;
        opacity: 1;
    }
}



.nav-button {
    height: 4rem;
    border-radius: 2.25rem;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    justify-content: left;
    align-items: center;
}

.nav-button:hover {
    background-color: var(--nav-button-hover-color);
    cursor: pointer;
}

.nav-icon {
    fill: var(--nav-icon-color);
    display: flex;
    /* align-items: center; */
    margin-left: 0.75rem;
}

.nav-icon-solid {
    fill: var(--yellow-color);
    display: none;
    /* width: 2.5rem; */
    /* height: 2.5rem; */
    /* align-items: center; */
    margin-left: 0.75rem;
}

.nav-button-theme {
    margin-top: auto;
}

.nav-icon-theme {
    margin-left: 0.375rem;
}

.nav-icon-theme-sun {
    display: var(--sun-icon-display);
}

.nav-icon-theme-moon {
    display: var(--moon-icon-display);
}








/* Main */
.home-main * {
    margin: revert;
}

section {
    color: var(--primary-text-color);
    font-size: 1.2rem;
}

p {
    color: var(--secondary-text-color);
}

header {
    color: var(--primary-text-color);
    margin: 2rem 0;
}

footer {
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    background-color: var(--element-background-color);
    backdrop-filter: blur(4rem);
    border: 1px solid var(--element-border-color);
    border-bottom: none;
    width: min(73rem, calc(100vw - 10rem));
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.footer-information {
    justify-content: space-between;
    align-items: start;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.footer-website-name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-website-name-text {
    color: var(--primary-text-color);
    font-size: 4rem;
    font-weight: 700;
    margin-top: -0.5rem;
}

.footer-large-logo {
    fill: var(--primary-text-color);
}

.footer-small-logo {
    fill: var(--primary-text-color);
    display: none;
}

.logo-j {
    fill: var(--logo-j-color);
}

.logo-h {
    fill: var(--logo-h-color);
}

.footer-legal {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer-theme-toggle {
    border: none;
    background: var(--theme-color);
    padding: 0.1rem 0.5rem;
    border-radius: 2.5rem;
    font-weight: 700;
    color: var(--black-color);
    transition: scale 200ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.footer-theme-toggle::before {
    position: absolute;
    display: flex;
    content: "";
    justify-content: center;
    align-items: center;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
    transition: transform 200ms ease;
}

.footer-theme-icon {
    width: 0.9rem;
    height: 0.9rem;
    z-index: 2;;
    fill: rgba(0, 0, 0, 0.3);
    transition: fill 300ms ease, rotate 200ms ease, scale 300ms ease;
}

.footer-theme-toggle:hover {
    cursor: pointer;
    scale: 1.05;
}

.footer-theme-toggle:active {
    background-color: rgba(255, 201, 25, 0.8);
}

.dark-theme {
    .footer-theme-toggle::before {
        transform: translateX(50%) rotate(180deg);
    }
    .footer-theme-icon-moon {
        fill: var(--black-color);
        stroke: black;
        stroke-width: 0.03rem;
        scale: 1.2;
        rotate: 360deg;
    }
}

.light-theme {
    .footer-theme-icon-sun {
        fill: var(--black-color);
        stroke: black;
        stroke-width: 0.03rem;
        scale: 1.2;
        rotate: -360deg;
    }
}

@media (max-width: 42rem) {
    .footer-large-logo {
        display: none;
    }
    .footer-small-logo {
        display: block;
    }
    .footer-information {
        text-align: center;
        align-items: center;
        gap: 1rem;
    }
}

.social-media-buttons {
    /* border-radius: 2.5rem; */
    /* padding: 0.5rem; */
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    /* justify-content: center; */
}

.social-media-button {
    background-color: var(--white-color);
    fill: var(--black-color);
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease;
}

.social-media-button:hover {
    /* fill: white; */
    cursor: pointer;
    scale: 1.2;
}


/* .social-media-button-email:hover {
    background-color: rgb(128, 128, 145);
}

.social-media-button-buy-me-a-coffee:hover {
    background-color: var(--buy-me-a-coffee-theme-color);
}

.social-media-button-github:hover {
    background-color: var(--github-theme-color);
}

.social-media-button-codecademy:hover {
    background-color: var(--codecademy-theme-color);
}

.social-media-button-linkedin:hover {
    background-color: var(--linkedin-theme-color);
} */



.social-media-button-buy-me-a-coffee:hover {
    fill: black;
}

.social-media-button-buy-me-a-coffee:hover .social-media-svg-buy-me-a-coffee-yellow-part {
    fill: #FFDD00;
}

.social-media-button-github:hover {
    fill: var(--github-theme-color);
}

.social-media-button-codecademy:hover {
    fill: var(--codecademy-theme-color);
}

.social-media-button-linkedin:hover {
    fill: var(--linkedin-theme-color);
}

.social-media-icon {
    width: 1.75rem;
    height: 1.75rem;
}

#copyright {
    flex-wrap: nowrap;
    flex-shrink: 0;
}

/* Repsonsive footer for smaller screens */
@media (max-width: 32rem) {
    .footer-website-name-text {
        font-size: 3.5rem;
    }
    
    .footer-small-logo {
        width: 5rem;
    }
}
@media (max-width: 22rem) {
    .footer-website-name-text {
        font-size: 15vw;
    }
    .footer-small-logo {
        width: 17vw;
    }
}
@media (max-width: 20.5rem) {
    .social-media-button {
        width: 2.8rem;
        height: 2.8rem;
    }
    .social-media-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}
@media (max-width: 19.5rem) {
    .social-media-button {
        width: 2.5rem;
        height: 2.5rem;
    }
    .social-media-icon {
        width: 1.3rem;
        height: 1.3rem;
    }
}





.project-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    padding: 1rem 0;
}

.project-tile {
    /* background-color: var(--element-background-color); */
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow: hidden; */
    transition: background-color 150ms ease, box-shadow 150ms ease, scale 150ms ease;
}

.glow {
    transition: transform 100ms ease;
    transition: opacity 200ms ease;
    width: 3rem;
    height: 3rem;
    background: rgba(255, 255, 255, 0.7);
    filter: blur(4rem);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    border-radius: 2rem;
}

/* .project-tile:hover .glow, .certification-tile:hover .glow, nav:hover .glow, footer:hover .glow {
    opacity: 1;
} */

.project-main {
    padding: 1rem;
}

.project-theme {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    padding: 1.25rem;
}

.project-tile:hover {
    background-color: var(--element-background-hover-color);
}

.project-icon {
    width: 6rem;
    border-radius: 1.25rem;
    background-color: black;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.project-icon-clock {
    background-color: #FF1236;
}

.project-icon-age-in-days {
    background-color: rgb(66, 128, 205);
}

.project-icon-default {
    background-color: var(--white);
}

.project-information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-information-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.project-title-link {
    color: var(--primary-text-color);
    /* font-size: 1.5rem; */
    font-weight: 700;
    text-decoration: none;
}

.project-title-link:hover .project-title {
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
}

.project-options {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.project-options-button {
    background: none;
    fill: var(--nav-icon-color);
    border: none;
    opacity: 0.75;
}

.project-options-icon {
    width: 1.4rem;
}

.project-options-button:hover {
    cursor: pointer;
    opacity: 1;
}

.time-ago-status {
    display: inline-flex;
    gap: 0.3rem;
    /* margin: 0.3rem 0 0 0; */
    align-items: center;
}

.time-ago-icon svg {
    width: 0.9rem;
    height: 0.9rem;
}

.time-ago-icon-completed {
    fill: var(--secondary-text-color); /* rgb(175, 255, 55) rgb(50, 255, 100) */
}

.time-ago-icon-started {
    fill: var(--secondary-text-color);
}

.time-ago-date {
    font-size: 0.8rem;
    color: var(--secondary-text-color);
}

.project-description {
    /* margin: 1rem 0 0 0; */
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.4rem;
    color: var(--secondary-text-color);
}

.project-tools {
    border-top: 1px solid var(--element-border-color);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem 1rem 1.5rem 1rem;
}

.tool-tag {
    color: #ffffff;
    background-color: #ffffff1a;
    border: 1px solid #ffffff;
    font-family: "Sometype Mono", monospace;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
}

.tool-tag-html {
    color: var(--html-tag-color);
    background-color: var(--html-tag-background-color);
    border: 1px solid var(--html-tag-color);
}

.tool-tag-css {
    color: var(--css-tag-color);
    background-color: var(--css-tag-background-color);
    border: 1px solid var(--css-tag-color);
}

.tool-tag-javascript {
    color: var(--javascript-tag-color);
    background-color: var(--javascript-tag-background-color);
    border: 1px solid var(--javascript-tag-color);
}

.tool-tag-processingjs {
    color: var(--processingjs-tag-color);
    background-color: var(--processingjs-tag-background-color);
    border: 1px solid var(--processingjs-tag-color);
}

/* .project-theme-default {
    background-color:  var(--yellow-color);
    background-image: url(../image/sine-graphic.svg), url(../image/sine-graphic.svg);
    background-image: 0.5;
    background-position: -6rem -3.5rem, 4rem 0.5rem;
    background-size: 25rem 12rem;
} */

.project-theme-pickle {
    background-color:  var(--pickle-theme-color);
    background-image: radial-gradient(#3b7d17 30%, transparent 30%),
    radial-gradient(#3b7d17 30%, transparent 30%);
    background-position: 1rem 0, 4rem 3rem;
    background-size: 6rem 6rem;
}

.project-theme-portfolio {
    background-color: var(--theme-color);
}

.project-theme-clock {
    background-color: #ff1236;
}

.project-theme-age-in-days {
    background-color: #4281cd;
}



.certifications-list {
    display: grid;
    padding: 1rem 0;
    gap: 1rem;
}

.certification-tile {
    display: flex;
    gap: 1rem;
    background-color: var(--element-background-color);
    transition: background-color 150ms ease;
    border-radius: 2.5rem;
    padding: 1rem;
    /* overflow: hidden; */
}

.certification-tile:hover {
    background-color: var(--element-background-hover-color);
}

.certification-logo {
    display: flex;
    background-color: white;
    width: 6rem;
    height: 6rem;
    border-radius: 1.25rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.certification-logo-small {
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    align-items: center;
    justify-content: center;
    display: none;
    overflow: hidden;
}

.certification-logo-microsoft {
    background: none;
}

.certification-logo-codecademy {
    background-color: var(--codecademy-theme-color);
    fill: white;
}

.certification-logo-small-codecademy {
    background-color: var(--codecademy-theme-color);
    fill: white;
}

.certification-information {
    width: calc(100% - 7.5rem);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: space-between;
}

.certification-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

.certification-link {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.certification-title {
    color: var(--primary-text-color);
}

.certification-link:hover .certification-title {
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
}

.certification-external-link-icon {
    fill: var(--nav-icon-color);
    opacity: 0.75;
    width: 1.4rem;
    height: 1.4rem;
}

.certification-link:hover .certification-external-link-icon {
    opacity: 1;
}

.certification-issuer {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    width: fit-content;
}

.certification-issuer-text {
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.certification-issuer-link:hover .certification-issuer-text {
    color: var(--primary-text-color);
}

/* Responsive certification tile layout */
@media (max-width: 41.5rem) {
    .certification-tile {
        border-radius: 1.5rem;
    }
    .certification-information {
        width: 100%;
    }
    .certification-logo-link {
        display: none;
    }
    .certification-logo-small {
        display: flex;
    }
}

@media (max-width: 34rem) {
    .certification-title {
        font-size: 1.4rem;
    }
}





/* Responsive nav for portrait phones */
@media (max-width: 30rem) {
    body {
        margin: 0.5rem;
    }
    body footer {
        padding-bottom: 5.5rem;
        width: min(73rem, calc(100vw - 3rem));
    }
    .decorative-sinusoidal-wave {
        display: block;
    }
    nav {
        margin: 0 0.5rem;
        /* padding-top: 0.25rem; */
        background-color: var(--mobile-nav-background-color);
        position: fixed;
        bottom: -1.5rem;
        padding-bottom: 2rem;
        left: 0;
        width: calc(100% - 2rem);
        height: 4rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
        border-top-left-radius: 2.5rem;
        border-top-right-radius: 2.5rem;
        box-shadow: 0 0.5rem 1rem 1rem var(--nav-shadow-color);
    }
}

/* Responsive nav for very small screens */
@media (max-width: 19.75rem) {
    nav {
        margin: 0;
        width: calc(100% - 1rem - 2px);
        overflow-x: scroll;
        overflow-y: hidden;
    }
    footer {
        width: calc(100vw - 10rem);
    }
}

/* Responsive nav for landscape phones */
@media (max-height: 29.5rem) and (min-width: 30.01rem) {
    body {
        margin-left: 6.5rem;
    }
    nav {
        margin: 0 0 0 -6rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-between;
    }
    .nav-button-logo, 
    .nav-button-logo * {
        display: none;
    }
    .nav-button-home {
        padding: 0;
    }
    .nav-button-theme,
    .nav-button-theme * {
        display: none;
    }
}

@media (max-width: 30rem) or (hover: none) {
    .nav-button {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
    }
    .nav-icon {
        width: 1.9rem;
        height: 1.9rem;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .nav-icon-solid {
        width: 1.9rem;
        height: 1.9rem;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .nav-label {
        display: block;
        color: var(--nav-icon-color);
        font-weight: 500;
        font-size: 0.75rem;
        text-decoration: none;
        line-height: 1.5;
        opacity: 1;
        margin: 0;
    }
    .nav-button-logo,
    .nav-button-logo * {
        display: none;
    }
    .nav-button-theme,
    .nav-button-theme * {
        display: none;
    }
}

@media (hover: none) {
    .nav-label {
        display: block;
        color: var(--nav-icon-color);
        font-weight: 500;
        font-size: 0.75rem;
        text-decoration: none;
        line-height: 1.5;
        opacity: 1;
        margin: 0;
    }
    .nav-label-logo {
        display: none;
    }
    .nav-label-theme {
        display: none;
    }
    .nav-icon-logo {
        width: 3.25rem;
        height: 3.25rem;
    }
    .nav-icon-theme {
        width: 2.5rem;
        height: 2.5rem;
    }
}