/* Debugging tool */
/* *,
*::before,
*::after {
    outline: 1px dashed rgb(0, 255, 0);
} */



/* Variables */
:root {
    --yellow-color: #ffc819;
    --black-color: #000000;
    --white-color: #ffffff;
    --light-gray-color: #a4a4a4;
    --dark-gray-color: #363636;

    /* Social media theme colors */
    --khan-academy-theme-color: #14BF96;
    --github-theme-color: rgb(142, 70, 161); /* #1B1F24; */
    --codecademy-theme-color: #1F4056;
    --linkedin-theme-color: #2d64bc;

    /* Project theme colors */
    --pickle-theme-color: #4a9c1d;
}

.dark-theme {
    --theme-color: var(--yellow-color);
    --background-color: var(--black-color);
    --primary-text-color: var(--white-color);
    --secondary-text-color: var(--light-gray-color);
    --nav-button-hover-color: rgba(255, 255, 255, 0.06);
    --selected-nav-button-color: #ffc8191a;
    --selected-nav-button-hover-color: #ffc81926;
    --nav-icon-color: var(--white-color);
    --element-background-color: rgba(166, 179, 225, 0.1); /* Previously #16171c */
    --element-background-hover-color: rgba(166, 179, 225, 0.15); /* Previously #1c1d25 */
    --element-border-color: rgba(255, 255, 255, 0.1);
    --nav-shadow-color: #000000a6;

    --html-tag-color: #E34F26;
    --html-tag-background-color: rgba(227, 79, 38, 0.2);
    --css-tag-color: hsl(281, 72%, 55%); /* Official color: #663399 */
    --css-tag-background-color: rgba(102, 51, 153, 0.4);
    --javascript-tag-color: rgba(247, 222, 30, 0.8);  /* Official color: #F7DF1E */
    --javascript-tag-background-color: rgba(247, 222, 30, 0.1);
    --processingjs-tag-color: #2378ff;
    --processingjs-tag-background-color: rgba(43, 97, 246, 0.2);
}

.light-theme {
    --theme-color: var(--yellow-color);
    --background-color: var(--white-color); /* #dce0f2cc */
    --primary-text-color: var(--black-color);
    --secondary-text-color: var(--dark-gray-color);
    --nav-button-hover-color: rgba(255, 255, 255, 0.4);
    --selected-nav-button-color: rgba(255, 255, 255, 0.5);
    --selected-nav-button-hover-color: rgba(255, 255, 255, 0.8);
    --nav-icon-color: var(--black-color);
    --element-background-color: rgb(233, 235, 245);
    --element-border-color: rgba(0, 0, 0, 0.1);
    --nav-shadow-color: #00000037;

    --html-tag-color: #E34F26;
    --html-tag-background-color: rgba(227, 79, 38, 0.2);
    --css-tag-color: hsl(281, 72%, 55%); /* Official color: #663399 */
    --css-tag-background-color: rgba(121, 47, 196, 0.2);
    --javascript-tag-color: rgb(216, 162, 0);  /* Official color: #F7DF1E */
    --javascript-tag-background-color: rgba(247, 204, 30, 0.4);
    --processingjs-tag-color: #2378ff;
    --processingjs-tag-background-color: rgba(43, 97, 246, 0.15);
}



html {
    scroll-behavior: smooth;
}


/* Setup */
body {
    margin: 1rem 1rem 0rem 7rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    /* font-family: "Space Grotesk", sans-serif; */
    font-family: "Inter", sans-serif;
    font-weight: 300;
    align-items: center;

    /* background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-position: 0 0, 50px 50px;
    background-size: 25px 25px; */
}

p, h1, h2, h3 {
    margin: 0;
}

::selection {
    background-color: rgba(255, 200, 25, 0.7);
    color: var(--primary-text-color);
}

.nav-label, img, button, input::placeholder, textarea::placeholder {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a:focus, button:focus, input:focus, textarea:focus {
    outline-color: var(--theme-color);
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: "Comfortaa", sans-serif; */
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

.all-content {
    max-width: 75rem;
}



.temporary-landing-logo {
    margin: 4rem 0;
    padding-top: 4vw;
    width: 76vw;
}


.ui-element {
    background-color: var(--element-background-color);
    backdrop-filter: blur(4rem);
    border: 1px solid var(--element-border-color);
}




/* Sidebar */
nav {
    position: fixed;
    align-self: start;
    /* background-color: var(--element-background-color); */
    margin: 0 0 0 -6rem;
    border-radius: 2.5rem;
    padding: 0.5rem;
    height: calc(100% - 3rem);
    width: 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
    text-wrap: nowrap;
}

.nav-label {
    padding: 0rem;
    font-size: 0rem;
    color: var(--nav-icon-color);
    opacity: 0;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
    display: none;
}

@media (min-width: 31rem) and (hover: hover) and (pointer: fine) {
    nav, .nav-label {
        transition: 200ms ease;
    }
    nav:hover {
        width: 15rem;
    }

    nav:hover .nav-label {
        display: block;
        opacity: 1;
    }
}



.nav-button {
    height: 4rem;
    border-radius: 2.25rem;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    justify-content: left;
    align-items: center;
}

.nav-button:hover {
    background-color: var(--nav-button-hover-color);
    cursor: pointer;
}

.nav-icon {
    fill: var(--nav-icon-color);
    display: flex;
    /* align-items: center; */
    margin-left: 0.75rem;
}

.nav-icon-solid {
    fill: var(--yellow-color);
    display: none;
    /* width: 2.5rem; */
    /* height: 2.5rem; */
    /* align-items: center; */
    margin-left: 0.75rem;
}

.nav-button-theme {
    margin-top: auto;
}

.nav-icon-theme {
    margin-left: 0.375rem;
}








/* Main */
.home-main * {
    margin: revert;
}

section {
    color: var(--primary-text-color);
    font-size: 1.2rem;
}

p {
    color: var(--secondary-text-color);
}

header {
    color: var(--primary-text-color);
    margin: 2rem 0;
}

footer {
    padding: 1rem;
    text-align: center;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    background-color: var(--element-background-color);
    backdrop-filter: blur(4rem);
    border: 1px solid var(--element-border-color);
    border-bottom: none;
}

.social-media-buttons {
    /* background-color: var(--element-background-color); */
    /* border-radius: 2.5rem; */
    padding: 0.5rem;
}

.social-media-button {
    background-color: var(--white-color);
    fill: var(--black-color);
    margin: 0 0.25rem 0 0.25rem;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease;
}

.social-media-button:hover {
    fill: white;
    cursor: pointer;
    /* border: 1px rgba(255, 255, 255, 0.1) solid; */
}

.social-media-button-email:hover {
    background-color: rgb(128, 128, 145);
}

.social-media-button-khan-academy:hover {
    background-color: var(--khan-academy-theme-color);
}

.social-media-button-github:hover {
    background-color: var(--github-theme-color);
}

.social-media-button-codecademy:hover {
    background-color: var(--codecademy-theme-color);
}

.social-media-button-linkedin:hover {
    background-color: var(--linkedin-theme-color);
}

.social-media-icon {
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
}

.footer-information {
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
    flex-wrap: wrap;
}

#copyright {
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.footer-links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    line-height: 1.2;
}

.footer-links a {
    color: var(--secondary-text-color);
    border-bottom: 1px solid var(--secondary-text-color);
}

.footer-links a:hover {
    color: var(--primary-text-color);
    border-bottom: 1px solid var(--primary-text-color);
}

.footer-links a:active {
    color: var(--yellow-color);
    border-bottom: 1px solid var(--yellow-color);
}

.back-to-top-button {
    border: none;
    background-color: var(--nav-icon-color);
    fill: var(--background-color);
    border-radius: 1.5rem;
    width: 3rem;
    height: 3rem;
}



.project-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    padding: 1rem 0;
}

.project-tile {
    /* background-color: var(--element-background-color); */
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-main {
    padding: 1rem;
}

.project-theme {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    padding: 1.25rem;
}

.project-tile:hover {
    background-color: var(--element-background-hover-color);
}

.project-icon {
    width: 6rem;
    border-radius: 1.25rem;
    background-color: black;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

}

.project-icon-clock {
    background-color: #FF1236;
}

.project-icon-age-in-days {
    background-color: rgb(66, 128, 205);
}

.project-icon-default {
    background-color: var(--white);
}

.project-information-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.project-title-link {
    color: var(--primary-text-color);
    /* font-size: 1.5rem; */
    font-weight: 700;
    text-decoration: none;
}

.project-title-link:hover {
    text-decoration: underline;
}

.project-options {
    display: flex;
    gap: 1rem;
}

.project-options-button {
    background: none;
    fill: var(--nav-icon-color);
    border: none;
    opacity: 0.75;
}

.project-options-icon {
    width: 1.4rem;
}

.project-options-button:hover {
    cursor: pointer;
    opacity: 1;
}

.project-date {
    margin: 0.5rem 0;
    font-size: 0.8rem;
    color: var(--secondary-text-color);
}

.project-description {
    margin: 1rem 0 0 0;
}

.project-tools {
    /* background-color: rgba(255, 0, 0, 0.511); */
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem 1rem 1.5rem 1rem;
}

.tool-tag {
    color: #ffffff;
    background-color: #ffffff1a;
    border: 1px solid #ffffff;
    /* font-family: sans-serif; */
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
}

.tool-tag-html {
    color: var(--html-tag-color);
    background-color: var(--html-tag-background-color);
    border: 1px solid var(--html-tag-color);
}

.tool-tag-css {
    color: var(--css-tag-color);
    background-color: var(--css-tag-background-color);
    border: 1px solid var(--css-tag-color);
}

.tool-tag-javascript {
    color: var(--javascript-tag-color);
    background-color: var(--javascript-tag-background-color);
    border: 1px solid var(--javascript-tag-color);
}

.tool-tag-processingjs {
    color: var(--processingjs-tag-color);
    background-color: var(--processingjs-tag-background-color);
    border: 1px solid var(--processingjs-tag-color);
}

/* .project-theme-default {
    background-color:  var(--yellow-color);
    background-image: url(../image/sine-graphic.svg), url(../image/sine-graphic.svg);
    background-image: 0.5;
    background-position: -6rem -3.5rem, 4rem 0.5rem;
    background-size: 25rem 12rem;
} */

.project-theme-pickle {
    background-color:  var(--pickle-theme-color);
    background-image: radial-gradient(#3b7d17 30%, transparent 30%),
    radial-gradient(#3b7d17 30%, transparent 30%);
    background-position: 1rem 0, 4rem 3rem;
    background-size: 6rem 6rem;
}

.project-theme-portfolio {
    background-color: var(--theme-color);
}

.project-theme-clock {
    background-color: #ff1236;
}

.project-theme-age-in-days {
    background-color: #4281cd;
}



.certifications-list {
    display: grid;
    padding: 1rem 0;
    gap: 1rem;
}

.certification-tile {
    display: flex;
    gap: 1rem;
    background-color: var(--element-background-color);
    border-radius: 2.5rem;
    padding: 1rem;
}

.certification-logo {
    display: flex;
    background-color: var(--codecademy-theme-color);
    fill: white;
    width: 6rem;
    height: 6rem;
    border-radius: 1.25rem;
    align-items: center;
    justify-content: center;
}

.certification-information {
    width: calc(100% - 8rem);
    padding: 10px;
}

.certification-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

.certification-title {
    color: white;
}

.certification-link-button {
    fill: var(--nav-icon-color);
    opacity: 0.75;
}

.certification-link-button:hover {
    cursor: pointer;
    opacity: 1;
}

.certification-link-icon {
    width: 1.5rem;
    height: 1.5rem;
}



/* Responsive nav for portrait phones */
@media (max-width: 30rem) {
    body {
        margin: 0.75rem;
    }
    body footer {
        padding-bottom: 80px;
    }
    nav {
        margin: 0 0.75rem;
        /* padding-top: 0.25rem; */
        background-color: var(--element-background-color);
        position: fixed;
        bottom: -1.5rem;
        padding-bottom: 2rem;
        left: 0;
        width: calc(100% - 2.5rem);
        height: 4rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
        border-top-left-radius: 2.5rem;
        border-top-right-radius: 2.5rem;
        box-shadow: 0 0 2rem var(--nav-shadow-color);
    }
    .nav-button {
        flex-direction: column;
        justify-content: center;
        width: 4rem;
        height: 4rem;
    }

    .nav-button-logo, 
    .nav-button-logo * {
        display: none;
    }
    .nav-button-theme,
    .nav-button-theme * {
        display: none;
    }
    .nav-icon {
        width: 1.9rem;
        height: 1.9rem;
        margin: 0;
    }
    .nav-icon-solid {
        width: 1.9rem;
        height: 1.9rem;
        margin: 0;
    }
    .nav-label {
        display: block;
        color: var(--nav-icon-color);
        font-weight: 500;
        font-size: 0.75rem;
        text-decoration: none;
        line-height: 1.5;
        opacity: 1;
        margin: 0.3rem 0;
    }
}

/* Repsonsive social media buttons for smaller screens */
@media (max-width: 23.125rem) {
    .social-media-button {
        margin: 0 0.15rem 0 0.15rem;
    }
}

@media (max-width: 22.2rem) {
    .social-media-button {
        margin: 0 0.05rem 0 0.05rem;
    }
}

@media (max-width: 21rem) {
    footer {
        padding: 0.75rem;
    }
    .social-media-buttons {
        padding: 0.4rem;
    }
    .social-media-button {
        margin: 0 0.03rem 0 0.03rem;
    }
}

@media (max-width: 20.5rem) {
    .social-media-button {
        width: 2.8rem;
        height: 2.8rem;
    }
    .social-media-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}

/* Responsive nav for very small screens */
@media (max-width: 19.75rem) {
    body {
        margin: 0.5rem;
    }
    nav {
        margin: 0;
        width: calc(100% - 1rem);
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

/* Responsive nav for landscape phones */
@media (max-height: 29.5rem) and (min-width: 30.01rem) {
    body {
        margin-left: 6.5rem;
    }
    nav {
        margin: 0 0 0 -6rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-between;
    }
    .nav-button-logo, 
    .nav-button-logo * {
        display: none;
    }
    .nav-button-home {
        padding: 0;
    }
    .nav-button-theme,
    .nav-button-theme * {
        display: none;
    }
    /* .nav-icon {
        width: 1.9rem;
        height: 1.9rem;
    }
    .nav-icon-solid {
        width: 1.9rem;
        height: 1.9rem;
    }
    .nav-label {
        display: block;
        color: var(--nav-icon-color);
        font-weight: 500;
        font-size: 0.75rem;
        text-decoration: none;
        line-height: 1.5;
    } */
}

@media (hover: none) {
    .nav-button {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-icon {
        margin: 0;
        justify-content: center;
        align-items: center;
        width: 1.9rem;
        height: 1.9rem;
    }
    .nav-icon-solid {
        margin: 0;
        justify-content: center;
        align-items: center;
        width: 1.9rem;
        height: 1.9rem;
    }
    .nav-label {
        display: block;
        color: var(--nav-icon-color);
        font-weight: 500;
        font-size: 0.75rem;
        text-decoration: none;
        line-height: 1.5;
        opacity: 1;
        margin: 0.3rem 0;
    }
    .nav-label-logo {
        display: none;
    }
    .nav-label-theme {
        display: none;
    }
    .nav-icon-logo {
        width: 3.25rem;
        height: 3.25rem;
    }
    .nav-icon-theme {
        width: 2.5rem;
        height: 2.5rem;
    }
}